<!DOCTYPE html>
<html lang="en" class="h-full font-sans antialiased">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1280">
    <meta name="csrf-token" content="{ csrf_token() }">

    <title>{% block header_title %}{% endblock header_title %}</title>

    {% raw %}
    <style>
        body {
            background-color: #333;
        }
    </style>
    {% endraw %}
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,800,800i,900,900i" rel="stylesheet">

    <!-- Styles -->
    {% block styles %}
        <link rel="stylesheet" href="#">
    {% endblock styles %}
    <!-- Tool Styles -->

    <!-- Custom Meta Data -->

    <!-- Theme Styles -->
    
</head>
<body class="min-w-site bg-40 text-black min-h-full">
    <div id="collapsar">
        <div v-cloak class="flex min-h-screen">
            <!-- Sidebar -->
            <div class="min-h-screen flex-none pt-header min-h-screen w-sidebar bg-grad-sidebar px-6">
                <a href="/">
                    <div class="absolute pin-t pin-l pin-r bg-logo flex items-center w-sidebar h-header px-6 text-white">
                        <!-- collapsar logo -->
                    </div>
                </a>

                <!-- navigation -->
            </div>

            <!-- Content -->
            <div class="content">
                <div class="flex items-center relative shadow h-header bg-white z-20 px-view">
                    <a href="/" class="no-underline dim font-bold text-90 mr-6">
                        {% block app_name %}{% endblock app_name %}
                    </a>

                    <!-- render global search -->

                    <dropdown class="ml-auto h-9 flex items-center dropdown-right">
                        <!-- render user -->
                    </dropdown>
                </div>

                <div data-testid="content" class="px-view py-view mx-auto">
                    {% block content %}{% endblock content %}

                    {% block partial_footer %}{% endblock partial_footer %}
                </div>
            </div>
        </div>
    </div>

    <script>
        // window.config = @json(\Laravel\Nova\Nova::jsonVariables(request()));
    </script>

    <!-- Scripts -->
    
    <!-- Build Nova Instance -->
    <script>
        // window.Nova = new CreateNova(config)
    </script>

    <!-- Render Scripts -->
    

    <!-- Start Nova -->
    <script>
        // Nova.liftOff()
    </script>
</body>
</html>
